name: Build CI

on:
  pull_request:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}


jobs:
  build:
    name: Build Image
    runs-on: ubuntu-24.04

    # For Workload Identity
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go runtime
        uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'

      - name: Setup ko for Go Container app
        uses: ko-build/setup-ko@v0.8

      - name: Build Go application with ko
        run: ko build -L .
