name: Push and Deploy

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  push-and-deploy:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write
      id-token: 'write'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Go runtime
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Setup ko for Go Container app
        uses: ko-build/setup-ko@v0.9

      - name: Build Go application image and push to GHCR with ko
        id: push
        env:
          KO_DOCKER_REPO: ${{ env.REGISTRY }}/${{ github.actor }}
        run: |
          export TAG=$(date +%Y%m%d-%H%M%S)
          echo "calverTag=$TAG" >> $GITHUB_OUTPUT
          ko login ${{ env.REGISTRY }} --username ${{ github.actor }} --password ${{ secrets.GHCR_PUSH_PAT }}
          ko build -B . --sbom=none --tags=latest,$TAG

      # https://github.com/google-github-actions/auth
      - name: Auth with Google Cloud
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          workload_identity_provider: 'projects/1037550336239/locations/global/workloadIdentityPools/default-pool/providers/default-provider'
          service_account: 'gha-rainpole-cloudrun@hwakabh-dev.iam.gserviceaccount.com'
          token_format: access_token

      # https://github.com/google-github-actions/deploy-cloudrun
      - name: Update Cloud Run instances with latest image digest
        uses: 'google-github-actions/deploy-cloudrun@v3'
        with:
          image: 'us-central1-docker.pkg.dev/hwakabh-dev/ghcr/hwakabh/rainpole:${{ steps.push.outputs.calverTag }}'
          service: 'rainpole-api'
