name: Tests

on:
  push:
    branches:
      - '**'
      - '!main'
  workflow_dispatch:

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        # https://github.com/actions/setup-go
        with:
          go-version-file: './go.mod'

      - name: Setup Test Database and build app
        run: "make build"

      - name: Run Tests
        run: "go test -v"

      - name: Setup ko for Go Container app
        uses: ko-build/setup-ko@v0.9

      - name: Build app locally for container image
        run: ko build -L .
